#login_div {
    margin-bottom: 24px;
}

#title_div {
    margin-bottom: 12px;
}

#statements {
    margin-top: 12px;
}

.btn-login {
    color: white;
    background-color: #1db954;
    border-color: white;
    font-size: 21px;
    margin: 10px;
}

.btn-login:hover,
.btn-login:focus,
.open .dropdown-toggle.btn-login {
    color: #1db954;
    background-color: white;
    border-color: white;
}

.open .dropdown-toggle.btn-login {
    background-image: none;
}

.btn-login.disabled,
.btn-login[disabled],
fieldset[disabled] .btn-login,
.btn-login.disabled:hover,
.btn-login[disabled]:hover,
fieldset[disabled] .btn-login:hover,
.btn-login.disabled:focus,
.btn-login[disabled]:focus,
fieldset[disabled] .btn-login:focus {
    background-color: #1db954;
    border-color: white;
}

.btn-default,
.btn-login .badge {
    color: #1db954;
    background-color: white;
}

.btn-default:hover {
    color: #1db954;
}

.fa-spotify {
    color: inherit;
}

.fa-right {
    margin-left: 8px;
}

.fa-left {
    margin-right: 8px;
}

.container-fluid {
    background-color: #1db954;
}

h2,
h5 {
    color: white;
}

#statements span {
    color: white;
    font-size: 24px;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    overflow: auto;
}

.app-container {
    position: relative;
    padding-bottom: 204px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 20px;
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    color: #eee;
}

.footer * {
    color: white;
}

#copyright {
    color: #eee;
}

.lighter {
    font-weight: 300;
}

.darker {
    font-weight: bold;
}

@media (max-width: 767.98px) {
    #form {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.link {
    color: white;
    text-decoration: underline;
}

.link:hover {
    color: #eee;
}

#login,
#loggedin {
    display: none;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}